<div class="main content container-fluid" role="main">
  <h1>Projet de concept objet</h1>
  <p>Le projet a été réalisé par Marine, Mélodie et Jean</p>
  <p>Technologies utilisées pour le développement: Front Angular/Typescript, Back SpringBoot/Java, Database PostgreSQL
  </p>
  <p>L'ensemble du code est disponible sur ce lien: <a
      href="https://github.com/JeanJeanDeLaStreet/HarryPotterGame">HarryPotterGame</a></p>
  <h2>UML</h2>
  <h4 class="hdiv">Diagramme d'activité</h4>
  <img alt="Diagramme d'activité" src="../assets/img/diaactivite.png" loading="lazy" />
  <h4 class="hdiv">Diagramme d'états-transitions</h4>
  <img alt="Diagramme d'états-transitions" src="../assets/img/diagrammeetattransi.png" loading="lazy" />
  <h4 class="hdiv">Diagramme de classe</h4>
  <img alt="Diagramme d'états-transitions" src="../assets/img/diagrammeclasse.png" loading="lazy" />
</div>
